
body {
  padding:0px;
  margin:0px;
  width: 100%;
  font-family:arial, Arial, Helvetica, sans-serif;
  
  }

.inside {
  padding:2em; 
  background-color:#fff;
  max-width: 960px;
  margin: 0 auto; 

}
.logo {
  background-image:url('/images/CodeSolid.png');
  background-position:left center;
  background-repeat:no-repeat;

}

.container {
  max-width: 960px;
  margin: 0 auto; 
  padding:0 0em 0 0em;  	
}


.site {
	background-color:#fff;
	padding:1em;
}

header h1 {
  margin-top:1em;
  padding-bottom:0;
  line-height:40%;

}
header .logo_code {

  background-color:black;
  color:white;
  padding:.2em;
  padding-right:0px;
  margin:0;
  
}

header .logo_solid {
  background-color:#ddd;
  color:black; 
  padding:.2em;
  padding-left:0px;
  margin:0;   
}

header p {
  margin:0;
  padding:0;
  font-size:85%;
  font-style:italic;
}
