
body {
  padding:0px;
  margin:0px;
  width: 100%;
  font-family:arial, Arial, Helvetica, sans-serif;
  
  }

.inside {
  padding:2em; 
  background-color:#fff;
  max-width: 960px;
  margin: 0 auto; 

}
.logo {
  background-image:url('/images/CodeSolid.png');
  background-position:left center;
  background-repeat:no-repeat;

}

.container {
  max-width: 960px;
  margin: 0 auto; 
  padding:0 0em 0 0em;  	
}


.site {
	background-color:#fff;
	padding:1em;
}