---
layout:    default
permalink: /goalboost/
title:     Goalboost Time Tracking
---

<h1>Goalboost</h1>
<p> <a href="http://goalboost.com">Goalboost</a> is the name of our time tracking application.  We'll be writing more about our progress here as time goes by.

{% for post in site.posts %}	
    {% if post.categories contains 'goalboost' %}
    <p>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}...
      </p>
    {% endif %}
{% endfor %}  
</ul>
</li>
